<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.stopwatch">
  <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="35" />
  <application android:theme="@android:style/Theme.Material.NoActionBar" android:label="時計とストップウォッチ" android:allowBackup="false">
    <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="true">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
    </activity>
  </application>
</manifest>
